.panePrincipal{
    -fx-background-color:#2c405a;
}
.menu-bar {
    -fx-background-color: transparent;
}
.menu {
    -fx-label-padding: 3px;
}
.menu .label, .menu-item .label {
    -fx-text-fill: #eee;
}
.menu:hover, .menu:focused, .menu:pressed {
    -fx-background-color: rgba(0, 150, 201, 0.5);
}
.menu-item:hover {
    -fx-background-color: rgba(0, 150, 201, 0.6);
}
.context-menu {
    -fx-background-color:#2c405a;
}
.sidebar_menu:hover{
 -fx-border-color: transparent transparent transparent red;
 -fx-border-width:2px; 
}

